services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2017-latest
    container_name: mssql_sqlserver
    ports:
      - "1434:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Poinp123
      - MSSQL_COLLATION=Hungarian_CI_AS
      - TZ=Europe/Budapest
    volumes:
      - mssql-data:/var/opt/mssql
      - C:\Work\db:/db_backup

  postgresql:
    image: "docker.io/bitnamilegacy/postgresql:11"
    container_name: keycloak_db
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - POSTGRESQL_USERNAME=bn_keycloak
      - POSTGRESQL_DATABASE=bitnami_keycloak

  keycloak:
    image: docker.io/bitnamilegacy/keycloak:22.0.1
    container_name: keycloak
    ports:
      - "8888:8080"
    environment:
      - KEYCLOAK_CREATE_ADMIN_USER=true
      - KEYCLOAK_ADMIN_USER=admin
      - KEYCLOAK_ADMIN_PASSWORD=Poinp123
      - KEYCLOAK_JGROUPS_DISCOVERY_PROTOCOL=JDBC_PING
      - 'KEYCLOAK_JGROUPS_DISCOVERY_PROPERTIES=datasource_jndi_name=>java:jboss/datasources/KeycloakDS, initialize_sql=>"CREATE TABLE IF NOT EXISTS JGROUPSPING ( own_addr varchar(200) NOT NULL, cluster_name varchar(200) NOT NULL, created timestamp default current_timestamp, ping_data BYTEA, constraint PK_JGROUPSPING PRIMARY KEY (own_addr, cluster_name))"'
    depends_on:
      - postgresql

  photo-service:
    build: felho_lab/
    container_name: photo-service
    restart: always
    ports:
      - 3000:3000
    healthcheck:
      test: ["CMD", "wget", "-O", "/dev/null", "-q", "http://photo-service:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend_services

  photo-ui:
    build: felho_lab/ui
    container_name: photo-ui
    restart: always
    ports:
      - 4200:80
    networks:
      - backend_services
    depends_on:
      - photo-service

networks:
  backend_services:
    driver: bridge

volumes:
  mssql-data:
  keycloak_postgres_db:
    driver: local